# Validator Delegation Statistics
*18-10-2022*

[onomy-testnet-1 @ Block height 141579]

In [1]:
import pandas as pd
import os
from typing import List
from IPython.display import display

In [2]:
def get_address(moniker :str) -> str:
    """
    Returns valoper address for validator moniker
    """
    for validator in [v for v in vals if v['moniker'] == moniker]:
        return validator['address']

def compute_delegations(moniker: str) -> (int, float):
    """
    Computes delegation statistics
    Returns delegation count and amount in NOM
    """
    header_row = ['delegate', 'amount']
    valoper_csv = get_address(moniker)[5:] + "_dlgs.csv"
    try:
        valoper_delegates = pd.read_csv(valoper_csv, header=None, names=header_row)
    except Exception:
        # Skip missing csv
        return (0, 0, 0)
    # Convert amount to float (int too large)
    valoper_delegates['amount'] = valoper_delegates['amount'].astype(float)
    # Sort descending by amount, show top largest delegates
    df = valoper_delegates.sort_values(['amount'], ascending=[False])
    # Generate readable amount format based on 18 decimal places
    df['nom'] = df['amount'] / 10**18
    df.nlargest(n=10, columns=['amount'])
    num_delegations = df['delegate'].count()
    if num_delegations == 0:
        return (0, 0, 0)
    nom_delegated = df['nom'].sum()
    print(
    f"""{moniker}\n{'='*len(moniker)}
- {get_address(moniker)}
- Total Delegations   : {num_delegations}
- Total NOM delegated : {nom_delegated}\n---\n""")
    if num_delegations > 0:
        top10df = df.nlargest(n=10, columns=['amount'])
        # Compute proportion from top 10 delegators
        top10pc = top10df['nom'].sum() / nom_delegated
        print(f"Top 10 delegators (Share of delegations: {top10pc*100:.4}%):")
        display(top10df)
    else:
        top10pc = 0
    return (num_delegations, nom_delegated, top10pc)

In [3]:
cwd = os.getcwd()
validators_csv :str = "validators.csv"
delegate_csvs :List[str] = [f for f in os.listdir(cwd) if f.startswith("valoper") and f.endswith(".csv")]
xcva : List[str] = ['nomblocks.io', 'lila.holdings', 'NCC', 'NomAddict-JP']

# Read validators
_header_row : List[str]=['moniker', 'address']
vals = pd.read_csv(validators_csv, header=None, names=_header_row).to_dict('records')

# Read blockheight
try:
    with open('blockheight.txt') as f:
        block_height = f.read().strip()
except Exception as e:
    print(e)
    block_height = ""
# Compute delegation statistics
for validator in vals.copy():
    (num, nom, top10pc) = compute_delegations(validator['moniker'])
    if num == 0:
        # Remove validator with empty delegations
        print(f"Skipping validator {validator['moniker']}: empty delegations\n---")
        vals.remove(validator)
    else:
        validator['delegators'] = num
        validator['total'] = nom
        validator['top10pc'] = top10pc * 100
        if validator['moniker'] in xcva:
            validator['xcva'] = True
        else:
            validator['xcva'] = False

Citadel.one
===========
- onomyvaloper1repmzjp6q4ly5hffu4pn6hucwzgyxg86gzr0ye
- Total Delegations   : 3525
- Total NOM delegated : 1493856.6033093275
---

Top 10 delegators (Share of delegations: 40.34%):

,delegate,amount,nom
393,onomy1repmzjp6q4ly5hffu4pn6hucwzgyxg8659pcc0,2.250000e+23,225000.000000
3006,onomy1mgy304lg6zgz383xvkwyt6cjy943up6fffnrft,1.200000e+23,120000.000000
371,onomy1r07fekzzxm8ulanyhvdj3e7pm5sz77k92h7v78,7.737782e+22,77377.818960
263,onomy1z5jrnd3e64uuxykfp9x0jqe70y09w8pxp6fj92,3.500000e+22,35000.000000
2325,onomy14yky73x0qpqsmr3hlcv2fnzaj8drjqzu64f52t,3.490979e+22,34909.788755
2277,onomy154wg9zlte8f4mr6p9au7j5zyau8zm8ey7fe4a3,2.922657e+22,29226.573089
3226,onomy1a82nkg7d6x6l78rgl2urre6xx462arrhql5nmj,2.105156e+22,21051.555462
2164,onomy1nktzmmqfxjqdc3nwv7uvwxlaq37n0k9n6geyjj,2.000000e+22,20000.000000
3176,onomy1uax8gv9um6suxms8pq38h9gpsnx5k9d2ytgyds,2.000000e+22,20000.000000
3117,onomy1uv3y06u3qt80u3u5av57ukfv4s56hmge53qrcy,1.998500e+22,19985.000000

Cosmostation
============
- onomyvaloper1x5wgh6vwye60wv3dtshs9dmqggwfx2ld4x6cpu
- Total Delegations   : 1650
- Total NOM delegated : 730521.4163673316
---

Top 10 delegators (Share of delegations: 72.55%):

,delegate,amount,nom
334,onomy1x5wgh6vwye60wv3dtshs9dmqggwfx2ldfpc0a2,2.400000e+23,240000.000000
131,onomy1z5jrnd3e64uuxykfp9x0jqe70y09w8pxp6fj92,1.375668e+23,137566.832318
1403,onomy1mgy304lg6zgz383xvkwyt6cjy943up6fffnrft,1.000000e+23,100000.000000
1242,onomy1cgfm256d0gk2mthn7l4cdnhmyh74arjlsa8euc,1.220787e+22,12207.868868
720,onomy1wyerwl5hdvcdsq9qswe2q4zfd99lzupx4ew5c6,1.000000e+22,10000.000000
1629,onomy1lj8y739w23xjmq7ypt8pycyc5egpqgq862m3n8,9.870000e+21,9870.000000
964,onomy1j6y377n4x2e8nzycp3vrvejfawvrkjepz8ag8a,5.700000e+21,5700.000000
1257,onomy1c35pghdm9cl2prtd8jxgf02dktuczwm6ylcgk2,5.000000e+21,5000.000000
1173,onomy1k5vnnt375wfpdy0guumjku6a95t5w9y887wy73,5.000000e+21,5000.000000
1428,onomy1mceehqeuc56pmjp4alcrzqnzyj5a36wv2w590w,4.628757e+21,4628.756769

lila.holdings
=============
- onomyvaloper12reepqzweq5hjd3lxaqlfh0f6pumz0dt0vq97y
- Total Delegations   : 1081
- Total NOM delegated : 571313.3413965093
---

Top 10 delegators (Share of delegations: 80.46%):

                                         delegate        amount            nom
354  onomy12reepqzweq5hjd3lxaqlfh0f6pumz0dtntzjzj  2.400000e+23  240000.000000
926  onomy1mgy304lg6zgz383xvkwyt6cjy943up6fffnrft  1.250000e+23  125000.000000
84   onomy1z5jrnd3e64uuxykfp9x0jqe70y09w8pxp6fj92  4.000000e+22   40000.000000
665  onomy1nktzmmqfxjqdc3nwv7uvwxlaq37n0k9n6geyjj  2.000000e+22   20000.000000
215  onomy1xy6dynx8f6q0rndsldvpyy02pugn3lkkwkq9j7  1.175387e+22   11753.870470
482  onomy1wyerwl5hdvcdsq9qswe2q4zfd99lzupx4ew5c6  1.000000e+22   10000.000000
636  onomy1jevcwkasew6z0kxx66mftpdpn0777h622qaur8  3.635000e+21    3635.000000
253  onomy18ghf4thvfq4ce4j4we6ngur2elygcme8sgyjx4  3.250842e+21    3250.841764
140  onomy1rajh4dwd7tjrhnguhjdhn7vg0w48k4nghrqg0n  3.177537e+21    3177.537264
691  onomy15wnatsa3ur68yj5a6gj4zqfk4pp83dlpj74gzy  2.855360e+21    2855.359980

onomy
=====
- onomyvaloper1v92yldfkep9lqj8g4qwa37vywqdpe2zrjmux2j
- Total Delegations   : 3262
- Total NOM delegated : 1023065.9842920803
---

Top 10 delegators (Share of delegations: 55.24%):

,delegate,amount,nom
1268,onomy1v92yldfkep9lqj8g4qwa37vywqdpe2zrwu73ky,4.000000e+23,400000.000000
289,onomy1z5jrnd3e64uuxykfp9x0jqe70y09w8pxp6fj92,4.000000e+22,40000.000000
2834,onomy1mus9k5w6u2gx25phsgr33skl6j5tlvq5vd0ftj,2.304425e+22,23044.253412
1610,onomy104sllyruttp2a7m8g8kq5j4uxyh036ws2ry84a,1.918000e+22,19180.000000
3068,onomy17xxstdkwr9fe0tldp8h9hee3w2ltz2al5c5f44,1.770214e+22,17702.141410
1728,onomy13prjs9sanzmccv3cnxtluc894ttaqqf4t4vcdr,1.530008e+22,15300.080683
1453,onomy1wyerwl5hdvcdsq9qswe2q4zfd99lzupx4ew5c6,1.399627e+22,13996.274177
508,onomy1yk9e2pgxedeaaz88lqhe9svh7ftvugd67y00g3,1.300000e+22,13000.000000
2494,onomy1c35pghdm9cl2prtd8jxgf02dktuczwm6ylcgk2,1.170026e+22,11700.256114
692,onomy1x5hhpu34pvzxwctskqwkg2xkpdcde3yydc8c3x,1.125133e+22,11251.327081

nomblocks.io
============
- onomyvaloper1dq2xznpmvjchcm0nt46xfvyujsvpzveck3fup7
- Total Delegations   : 1261
- Total NOM delegated : 534720.5488009404
---

Top 10 delegators (Share of delegations: 82.62%):

,delegate,amount,nom
498,onomy1dq2xznpmvjchcm0nt46xfvyujsvpzvec2kttag,2.400000e+23,240000.000000
1063,onomy1mgy304lg6zgz383xvkwyt6cjy943up6fffnrft,1.000000e+23,100000.000000
107,onomy1z5jrnd3e64uuxykfp9x0jqe70y09w8pxp6fj92,4.000000e+22,40000.000000
922,onomy1huge5e59p7q6hrrm0svazamvp272q6xt8mnjvu,1.934000e+22,19340.000000
1118,onomy1u5x4kcs9wp6shurx37j7ppppgga9aktdp0m0n7,1.018526e+22,10185.259548
1059,onomy1m9v4l06nye4mmu7l72ghcaeaj4vmw6v7d5hzn6,1.000000e+22,10000.000000
782,onomy155hkue0qgfsxxfpnh8zggky75fcf0dvzq7um3p,8.300000e+21,8300.000000
454,onomy1t6zrw5rj2nt2v4awcdzeghfeygrazw85dnlzjy,5.700000e+21,5700.000000
1217,onomy17ljy7v9jhzynzyxk7uw3qsp5axvvy2rl096x49,4.269000e+21,4269.000000
504,onomy1dz3pna2re9xu3nwwhvul9cja62y83ej8jym0aw,4.000000e+21,4000.000000

Cappuccinode
============
- onomyvaloper1du0tgu0z74ush2mcymg8ttxsx2szne3ju9kda3
- Total Delegations   : 338
- Total NOM delegated : 358231.7789662348
---

Top 10 delegators (Share of delegations: 96.85%):

                                         delegate        amount            nom
166  onomy1du0tgu0z74ush2mcymg8ttxsx2szne3jqz56p8  2.400000e+23  240000.000000
287  onomy1mgy304lg6zgz383xvkwyt6cjy943up6fffnrft  6.909800e+22   69098.000000
23   onomy1z5jrnd3e64uuxykfp9x0jqe70y09w8pxp6fj92  2.500000e+22   25000.000000
70   onomy1xsruj8kfkmzdpyevhvx8umwfc5x6e72ypetes4  4.157375e+21    4157.375032
309  onomy1aemm44l77jsyjxq5fumtercfq985580fmkpl5k  2.500000e+21    2500.000000
290  onomy1m607xvg7mnuu92fs9p73xfwkxppvnaya407rv2  2.358398e+21    2358.397533
329  onomy1lvsre2ygp8uhrd3mg09wmw9x2r4xk27nue5c0s  1.000000e+21    1000.000000
292  onomy1mlzkngm2ermx2ztpdz786ulfuypegj6xrhkg0p  1.000000e+21    1000.000000
38   onomy1r56vh8n8lxm9k0cvn3zegpdgd95z658djvdhey  9.380000e+20     938.000000
270  onomy1cukcmg0mnzafe3vdsj4sc82z7jcekclahs9adl  9.029356e+20     902.935579

NomAddict-JP
============
- onomyvaloper15n6larm8wl0l895dh552vhxdm6czjqnhcw2ddn
- Total Delegations   : 638
- Total NOM delegated : 485666.2659427855
---

Top 10 delegators (Share of delegations: 94.2%):

                                         delegate        amount            nom
423  onomy15n6larm8wl0l895dh552vhxdm6czjqnhyfg639  2.400000e+23  240000.000000
553  onomy1mgy304lg6zgz383xvkwyt6cjy943up6fffnrft  1.000690e+23  100069.000000
50   onomy1z5jrnd3e64uuxykfp9x0jqe70y09w8pxp6fj92  6.814100e+22   68141.000000
4    onomy1qr4s7wlx3sgh3cv0d0ag67l4xjft38fevupaq3  2.876924e+22   28769.243511
377  onomy1jtamhqmqnfpg2erqldr9dj3p7ezq8de0qs5x4a  5.990000e+21    5990.000000
91   onomy1ynathdvs8mjkrnauhtz7sqgcvt6hh9u6e8rt82  5.160452e+21    5160.452265
275  onomy1dxey9v2lgctw0gdhcees85gjkryz0wwl7s0eqs  3.200000e+21    3200.000000
278  onomy1d09246m77x4gcnhv8hmtsytdxms3lp6z3yue60  2.426151e+21    2426.150576
48   onomy1zdfpe704tt8pal4ryantv67q0fgpmyhnm6av40  2.250000e+21    2250.000000
215  onomy12xvluyv9zyna5e6etxptx8r9wmfe7q9nfsaal6  1.507899e+21    1507.899104

Forbole
=======
- onomyvaloper1cd44n385368wm6sdzualuf634mfqnq2u458j5c
- Total Delegations   : 2070
- Total NOM delegated : 593595.6374760863
---

Top 10 delegators (Share of delegations: 75.79%):

,delegate,amount,nom
1563,onomy1cd44n385368wm6sdzualuf634mfqnq2ufn99gw,2.400000e+23,240000.000000
1746,onomy1mgy304lg6zgz383xvkwyt6cjy943up6fffnrft,1.500000e+23,150000.000000
182,onomy1z5jrnd3e64uuxykfp9x0jqe70y09w8pxp6fj92,2.500000e+22,25000.000000
215,onomy1rqg87xgeymk28r5seadgjl9fk0a7k3u9axqty8,9.046118e+21,9046.117774
1288,onomy1nktzmmqfxjqdc3nwv7uvwxlaq37n0k9n6geyjj,9.000000e+21,9000.000000
1497,onomy1hxcfp67t9cwdt29fex5t07u9h7ur3ak2hty2jw,5.830000e+21,5830.000000
439,onomy1xdgn48r6ef0s7l6q3l87s9zttsxf64ycj4njr8,3.381025e+21,3381.024665
1032,onomy10jath6g7kn8ly6jkthdrpu37dd72s565z0u88d,2.900000e+21,2900.000000
29,onomy1q2kym8shnecay9n2fgl99cmc6jl4na9qmdqxq2,2.500000e+21,2500.000000
451,onomy1xna37ta0wmkjxxf9qw9l2e4976laq6c4r3rzpu,2.250000e+21,2250.000000

NCC
===
- onomyvaloper164fv330dfr4d9z8q0eg0ne4fal687f4m3nlql4
- Total Delegations   : 2741
- Total NOM delegated : 489864.0560142083
---

Top 10 delegators (Share of delegations: 76.49%):

,delegate,amount,nom
2321,onomy164fv330dfr4d9z8q0eg0ne4fal687f4md5ahrr,2.415459e+23,241545.940722
2367,onomy1mgy304lg6zgz383xvkwyt6cjy943up6fffnrft,1.000187e+23,100018.721981
200,onomy1z5jrnd3e64uuxykfp9x0jqe70y09w8pxp6fj92,1.000000e+22,10000.000000
1313,onomy108k9l8w70j0yaxua26r9jmsmvvues43h6ylwzx,5.306510e+21,5306.510315
539,onomy1xdgn48r6ef0s7l6q3l87s9zttsxf64ycj4njr8,4.463345e+21,4463.345021
2181,onomy1erjsgqhqlsqhhx8vgvkrvy3jcf5ypy69ht5k92,3.949515e+21,3949.515292
1716,onomy1n36hvgfh9srmj3q6v3egcap0fpmj6czzupfqc4,3.205552e+21,3205.551798
611,onomy18ghf4thvfq4ce4j4we6ngur2elygcme8sgyjx4,2.900000e+21,2900.000000
1711,onomy1n0zmxzxjmddudvlahfac7clxfhynllxy5x65at,1.802111e+21,1802.110760
2491,onomy1u5x4kcs9wp6shurx37j7ppppgga9aktdp0m0n7,1.500000e+21,1500.000000

Skipping validator NomAddict: empty delegations
---
The-Tao
=======
- onomyvaloper1ugfs6cu2yk4vvh8hs6g6alufjyxwehn6uxpg97
- Total Delegations   : 363
- Total NOM delegated : 397196.40981231944
---

Top 10 delegators (Share of delegations: 96.81%):

                                         delegate        amount            nom
317  onomy1ugfs6cu2yk4vvh8hs6g6alufjyxwehn6qprleg  2.400000e+23  240000.000000
303  onomy1mgy304lg6zgz383xvkwyt6cjy943up6fffnrft  1.100000e+23  110000.000000
178  onomy1s9vhuy9nefpga4ks0m4k88dzt3ej30jwl3h52k  2.114683e+22   21146.830732
343  onomy1700693g30pnz6klp97lenpyfmk9yajca3wcefa  3.954217e+21    3954.216639
30   onomy1z5jrnd3e64uuxykfp9x0jqe70y09w8pxp6fj92  3.000000e+21    3000.000000
5    onomy1q2kym8shnecay9n2fgl99cmc6jl4na9qmdqxq2  2.500000e+21    2500.000000
11   onomy1qetuyuj5z6afam22sccgnjyzspdy5lpgk45rtt  1.111000e+21    1111.000000
312  onomy1mlzkngm2ermx2ztpdz786ulfuypegj6xrhkg0p  1.000000e+21    1000.000000
255  onomy1hagu7n29da7um6rjlk294f6wc97sd0f32wejpk  9.500000e+20     950.000000
273  onomy1cukcmg0mnzafe3vdsj4sc82z7jcekclahs9adl  8.470161e+20     847.016112

## Validator Summary Statistics [onomy-testnet-1]

In [4]:
# Convert to dataframe, sort and compute percentages
df = pd.DataFrame.from_dict(vals)
df['pc'] = df['total'] / df['total'].sum() * 100
df = df.sort_values(['pc'], ascending=[False])

# Calculate share by XCVA
xcva_total : float = df.loc[df['xcva'] == True, 'total'].sum()
xcva_pc : float = xcva_total / df['total'].sum() * 100

# Display summary
display(df[['moniker', 'address', 'delegators', 'pc', 'total', 'top10pc']].round(2))
print(f"Block Height : {block_height}")
print(f"XCVA share   : {xcva_pc:.4}%")

,moniker,address,delegators,pc,total,top10pc
0,Citadel.one,onomyvaloper1repmzjp6q4ly5hffu4pn6hucwzgyxg86g...,3525,22.37,1493856.60,40.34
3,onomy,onomyvaloper1v92yldfkep9lqj8g4qwa37vywqdpe2zrj...,3262,15.32,1023065.98,55.24
1,Cosmostation,onomyvaloper1x5wgh6vwye60wv3dtshs9dmqggwfx2ld4...,1650,10.94,730521.42,72.55
7,Forbole,onomyvaloper1cd44n385368wm6sdzualuf634mfqnq2u4...,2070,8.89,593595.64,75.79
2,lila.holdings,onomyvaloper12reepqzweq5hjd3lxaqlfh0f6pumz0dt0...,1081,8.56,571313.34,80.46
4,nomblocks.io,onomyvaloper1dq2xznpmvjchcm0nt46xfvyujsvpzveck...,1261,8.01,534720.55,82.62
8,NCC,onomyvaloper164fv330dfr4d9z8q0eg0ne4fal687f4m3...,2741,7.34,489864.06,76.49
6,NomAddict-JP,onomyvaloper15n6larm8wl0l895dh552vhxdm6czjqnhc...,638,7.27,485666.27,94.20
9,The-Tao,onomyvaloper1ugfs6cu2yk4vvh8hs6g6alufjyxwehn6u...,363,5.95,397196.41,96.81
5,Cappuccinode,onomyvaloper1du0tgu0z74ush2mcymg8ttxsx2szne3ju...,338,5.36,358231.78,96.85

Block Height : 141579
XCVA share   : 31.17%